@import "normalize.css";

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(46, 47, 66, 1);
}

.container ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.container .products {
  display: flex;
  flex-wrap: wrap;
}

.products li {
  border: 1px solid rgba(231, 233, 252, 1);
  background-color: rgba(255, 255, 255, 1);
}

.products li h3,
.products li p {
  padding: 0px 16px 0px 16px;
}

.btn {
  background-color: rgb(226, 226, 226);
  color: rgba(64, 75, 191, 1);
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px 12px 24px;
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  background-color: rgba(64, 75, 191, 1);
  color: rgb(226, 226, 226);
}

header a,
ul,
li,
footer a {
  color: rgba(46, 47, 66, 1);
}
header a:hover,
header a:focus,
footer a:hover,
footer a:focus {
  color: rgba(64, 75, 191, 1);
}

p {
  font-weight: 400;
}

/* Placing elements flex */
/* FOOTER */
footer {
  background-color: rgba(46, 47, 66, 1);
  color: rgba(244, 244, 253, 1);
  height: 312px;
  padding: 112px 0 0 156px;
}
/* HEADER */
header {
  border: 1px solid rgba(231, 233, 252, 1);
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  gap: 40px;
  list-style: none;
  padding-left: 0;
}

.features {
  gap: 8px;
}

.nav-right {
  font-weight: 400;

  display: flex;
  gap: 40px;
}

a {
  text-decoration: none;
}

.logo,
.logo-footer {
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
}

.logo-footer {
  color: rgba(244, 244, 253, 1);
}
.logo-footer.btn:hover {
  color: rgba(244, 244, 253, 1);
}
.logo:hover {
  color: rgba(46, 47, 66, 1);
}

.web {
  color: rgba(77, 90, 229, 1);
}

/* SECTION1 */
.hero-section {
  height: 600px;
  background-image: url("/images/people-office1.webp");
  opacity: 0.9;
  background-repeat: no-repeat;
  background-color: rgba(46, 47, 66, 0.7);
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 188px 0;
}

.container {
  width: 1158px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-team {
  background-color: rgba(244, 244, 253, 1);
}

.images {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  text-align: center;
}

.images li {
  background-color: rgba(255, 255, 255, 1);
  padding: 0px 0px 32px 0px;
  border-radius: 0px 0px 4px 4px;
}
.btn-main {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(77, 90, 229, 1);
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  padding: 16px 32px 16px 32px;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
}

.main-text {
  font-size: 56px;
  text-align: center;
  line-height: 60px;
  max-width: 496px;
}

/* SECOND SECTION */
.second-section {
  padding: 120px 0;
}

.features {
  display: flex;
  gap: 24px;
}

.main-feature {
  margin-bottom: 8px;
}
h2 {
  font-size: 36px;
  text-align: center;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

/* SECTION */
section {
  padding: 120px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section ul {
  display: flex;
}

.section-btns {
  padding: 100px 0 0 0;
}

img {
  display: block;
}
